services:
  frontend:
    image: node:24-alpine
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    entrypoint: "/app/entrypoint.sh"
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2G
        reservations:
          cpus: "1"
          memory: 1G
  backend:
    image: golang:1.25
    ports:
      - "3333:3333"
    volumes:
      - "./server:/app"
    entrypoint: "/app/entrypoint.sh"

volumes:
  node_modules:
